html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===========================================
==============================================
//////////// CSS RESET COMPLETE \\\\\\\\\\\\\\
==============================================
============================================== */

/*========= Navigation Styles ======== */

.navbar {
    border: 3px solid #FF0000;
}
nav .navbar-brand {
    color: #FF0000 !important;
    font-family:Azo Sans;
}
nav .navbar-nav .nav-item .nav-link {
    color: #FF0000 !important;
    font-family:Azo Sans;
}
nav .nav-link.active {
}
nav .navbar-nav li,
nav .navbar-nav li a {
    color: #FF0000;
}

nav .navbar-brand a {
    color: #FF0000;
}

nav .dropdown-item.active {
    background-color: #FF0000;
}

nav .dropdown-menu.show {
    border: 2px solid #FF0000;
}



